@model CvProject.Models.Entities.Certification
@{
    ViewBag.Title = "GetCertification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Sertifika/Kurs Güncelle</h2>
<br />

<form method="post">
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @disabled = "disabled" })
    <br />
    @Html.Label("Sertifika/Kurs Adı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Kurum Adı")
    @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>

