@using CvProject.Models.Entities
@model List<Education>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Eğitim Bİlgileri</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Okul Adı</th>
                                            <th>Bölüm Adı</th>
                                            <th>Açıklama</th>
                                            <th>Başlangıç Tarihi - Bitiş Tarihi</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Title</td>
                                            <td>@item.Subtitle</td>
                                            <td>@item.Description</td>
                                            <td>@item.Date</td>
                                            <td>
                                                <a href="/Education/GetEducation/@item.ID" class="btn btn-warning btn-sm">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    Düzenle
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Education/DeleteEducation/@item.ID" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                    Sil
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                <br /><br />
                                <a href="/Education/AddEducation/" class="btn btn-primary">Yeni Eğitim Bilgisi Ekle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<br />
